@import url('darkcolors.css');

.form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.form__item {
    display: flex;
    flex-direction: column;
}

.form__submit {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--third-color);
    color: var(--first-color);
    transition-duration: 200ms;
}

.form__submit:hover {
    background-color: var(--first-accent-color);
}