{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="topnav">
            <input type="text" placeholder="Search..">
        </div>
    </header>

    <div class="content">
        <div class="block accounts">
            <div class="account">
                <a href="/auth" class="account__add">
                    <svg fill="#FFF" width="20px" height="20px" viewBox="0 0 32 32"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1"
                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                            d="M14.5,14.501l-10.502,0c-0.828,0 -1.5,0.673 -1.5,1.5c0,0.828 0.672,1.5 1.5,1.5l10.502,0l-0.001,10.502c0,0.828 0.672,1.5 1.5,1.501c0.828,-0 1.5,-0.673 1.5,-1.5l0.001,-10.503l10.502,0c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.827 -0.672,-1.5 -1.5,-1.5l-10.502,0l0.001,-10.501c-0,-0.828 -0.672,-1.501 -1.5,-1.501c-0.828,0 -1.5,0.672 -1.5,1.5l-0.001,10.502Z" />
                        <g id="Icon" />
                    </svg>
                </a>

                <div class="account__category__first">
                    <p class="category__first__item account__email">
                        {{ email_address }}
                    </p>
                    <a href="/deauth" class="category__first__item">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 12H20" stroke="#FFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <a href="/" class="category__first__item">
                        <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="20px" height="20px" viewBox="0 0 512 512" xml:space="preserve">
                            <g>
                                <path fill="#FFF" d="M104.426,139.813l83.563,83.781c14.344-13.766,26.781-25.703,36.109-34.672l-84.297-84.5l-10.313-45.719 L54.27,12.985L33.629,33.642L12.988,54.282l45.719,75.219L104.426,139.813z" />
                                <path fill="#FFF" d="M358.363,276.298L481.926,399.47c22.781,22.766,22.781,59.688,0,82.469c-22.781,22.766-59.688,22.766-82.469,0 L275.895,358.767L358.363,276.298z" />
                                <path fill="#FFF" d="M459.957,203.407c42.547-38.609,49.656-82.484,40.141-119.484c-0.281-2.938-0.984-5.406-3.547-7.25 l-8.563-7.016c-1.484-1.391-3.484-2.063-5.484-1.875c-2.016,0.203-3.844,1.234-5.031,2.875l-49.25,64.031 c-1.375,1.891-3.594,2.969-5.922,2.891l-17.875,1.313c-1.531-0.047-3.016-0.594-4.219-1.563l-34.531-29.266 c-1.406-1.141-2.328-2.766-2.563-4.563l-2.141-16.188c-0.25-1.781,0.203-3.594,1.266-5.063l46.109-62.641 c2.094-2.875,1.688-6.859-0.906-9.281l-11.188-8.75c-2.188-2.031-4.672-1.75-8.063-1.094 c-31.844,6.281-86.219,37.125-100.016,79.75c-12.156,37.516-7.922,63.969-7.922,63.969c0,21.141-6.953,41.516-15.5,50.063 L24.504,424.923c-0.469,0.422-0.922,0.859-1.375,1.313c-19.844,19.844-19.813,52.047-0.641,71.219s51.859,19.672,71.703-0.172 c0.922-0.922,1.813-1.875,2.641-2.859l231.672-250.438C357.004,218.61,413.426,245.642,459.957,203.407z" />
                            </g>
                        </svg>
                    </a>
                </div>
                <a href="/" class="account__category link-text">
                    Входящие
                </a>
                <a href="/" class="account__category link-text">
                    Отправленные
                </a>
                <a href="/" class="account__category link-text">
                    Архив
                </a>
                <a href="/" class="account__category link-text">
                    Спам
                </a>
            </div>
        </div>

        <div class="block inbox">
        {% if messages %}
            {% for message in messages %}
            
                
                <a href="/email/{{ message.num }}" class="email link-fill">
                    <p class="email__value" title="{{ message.num }}">
                        {{ message.num }}
                    </p>
                    <p class="email__value" title="{{ message.from }}">
                        {{ message.from }}
                    </p>
                    <p class="email__value" title="{{ message.subject }}">
                        {{ message.subject }}
                    </p>
                    <p class="email__value" title="{{ message.date }}">
                        {{ message.date }}
                    </p>
                </a>
                
                    
            {% endfor %}
        {% endif %}
        </div>
    </div>
</body>
</html>